<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" type="text/css" media="all" href="/sass/style.css" th:href="@{/sass/style.css}">
</head>
<body>
    <header th:insert="templates/header.html :: header"></header>

    <section class="playlists">
        <div class="container">
            <h1 class="playlists_title">Admin Page</h1>
            <p class="login_user" th:text="${user.getLogin()}"></p>
            <div class="divider"></div>
            <div class="playlists_wrapper">
                <div th:each="userItem : ${users}" class="playlist_item">
                    <div class="playlist_item_link">
                        <div class="playlist_item_name" th:utext="${userItem.getLogin()}"></div>
                        <div class="playlist_item_name" th:utext="'Size: ' + ${sizeMap.get(userItem.getId())} + 'KB'"></div>
                        <form th:unless="${userItem.isAdmin()}" th:method="delete" th:action="@{/users/{id}(id=${userItem.id})}">
                            <label for="deleteButton"></label>
                            <input class="playlist_item_delete_button" th:type="submit" th:value="DELETE" id="deleteButton">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:insert="templates/footer.html :: footer"></footer>
</body>
</html>