<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" href="/sass/style.css" th:href="@{/sass/style.css}">
</head>
<body>
    <header th:insert="templates/header.html :: header"></header>
    <section class="enter_playlist_name">
        <div class="enter_playlist_name_area">
            <div class="enter_playlist_name_user" th:text="${user.getLogin()}"></div>
            <form class="form_playlist_name" th:method="post" th:action="@{/playlists}" th:object="${playlist}" enctype="multipart/form-data">
                <label class="playlist_name_title" for="playlistName">Playlist name</label>
                <input class="input_playlist_name" type="text" id="playlistName" th:field="*{name}">
                <input class="button_playlist_name" type="submit" th:value="CREATE">
            </form>
        </div>
    </section>
    <footer th:insert="templates/footer.html :: footer"></footer>
</body>
</html>